.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}

.snippet-manager {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    // max-width: 860px;
    background-color: #fff;
    // border-radius: 12px;
    box-shadow: 0 8px 32px 0 hsla(214,9%,64%,.5);
}


.add-snippet-form {
    display: none;
    position:absolute;
    left: 0;
    width: 40%;
    background-color: hsla(45, 9%, 91%, 1);  
    max-width: 400px;
    width: 100%;
    bottom: 0;
    padding: 8px 16px;



    &.show {
        display: block;
    }

    input {
        border: none;
        width: 100%;
        font-size: 14px;
        border-radius: 4px;  
        background-color: inherit;    

        &:hover, &:focus {
            outline: none;
        }
    }

    .enter-icon {
        position: absolute;
        right: 12px;
        line-height: 1;
        font-size: 16px;
        display: inline-block;
    }


}


.list-pane {
    width: 280px;
    height: 100%;
    background-color: hsla(40, 25%, 96%, 1);  
    position: relative;
    
}


.snippet-list {

    li {
        font-size: 14px;
        color: hsla(0, 0, 30%, 1);
        -webkit-font-smoothing: antialiased;
        padding: 4px 16px;
        cursor: pointer;

        &:hover {
            background-color: hsla(45, 9%, 91%, 1); 
        }

    }
}

.snippet-controls {
    padding: 4px 16px;
    text-align: right;
    border-bottom: 1px solid #efefef;

    .icon {
        padding: 0;
        border: none;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    .addnew-icon {
        color: hsl(0, 0%, 0%);

        &:hover, &:active, &:focus {
            color: hsl(0, 0%, 60%);
            outline: none;
        }
    }
}